/* Títulos da página */
body{
    width: 100vw;
    max-width: 500px;
    margin: auto;
    background-color: #333333;
}

header{
    height: 92px;
    background-color: #CF2B2B;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: auto;
    position: fixed;
    width: 100vw;
    max-width: 500px;
}
header h1{
    font-size: 44px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Righteous;
    font-weight: 400;
    padding-top: 8px;
    padding-left: 21px;
}
header h2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Roboto;
    font-size: 18px;
    padding-top: 5px;
    padding-left: 21px;
}
main{
    width: 100vw;
    max-width: 500px;
    padding-top: 92px;
    padding-bottom: 108px;
    background-color: #E5E5E5;
} 
section{
    display: flex;
    overflow-x: scroll;
    padding-right: 19px;
}
.titulo-categ{
    font-family: Righteous;
    color: #333333;
    font-size: 26px;
    font-weight: normal;
    padding-left: 19px;
    padding-top: 31px;
}
[data-identifier="food-option"]{
    width: 172px;
    height: 202px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin-top: 17px;
    margin-left: 19px;
    cursor: pointer;

}
[data-identifier="food-option"] img{
    height: 87px;
    width: 144px;
    margin-top: 18px;
    margin-left: 14px;
    margin-right: 14px;
    background: no-repeat center;
    background-size: cover;    
    border-radius: 7px;

}
[data-identifier="food-title"]{
    font-size: 16px;
    font-family: roboto;
    font-weight: 700;
    margin-top: 8px;
    margin-left: 15px;
}
.food-descricao{
    font-family: roboto;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    margin-left: 15px;
    margin-top: 4px;
}
[data-identifier="food-price"]{
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 15px;
    margin-top: 5px;
}

footer {
    height: 92px;
    background-color:#FFFFFF;
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 500px;

}

.botao {
    width: 364px;
    height: 61px;
    background-color: #CBCBCB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    
}
.botao-selecionado {
    width: 364px;
    height: 61px;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
}


.text-final {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}

::-webkit-scrollbar {
    display: none;
}
.alimento-selecionado{
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;

}
.bebida-selecionada{
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;

}
.doce-selecionado{
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;

}
ion-icon {
    color: #32B72F;
    font-size: 16px;
    margin-left: 144px;
}

.esconder{
    display: none;
}
.conf-pedido {
    margin: auto;
    position: fixed;
    width: 100vw;
    max-width: 500px;
    top: calc(50% - 353px/2 - 0.5px);
    background: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    color: #FFFFFF;;
    font-family: Roboto;
    letter-spacing: 0.018em;
    z-index: 3;
    position: fixed;    

}
.titulo-confirmacao{
    margin-top: 21px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}
.itens-confirmacao{
    margin-top: 28px;

}

.comida-conf{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    display: flex;
    justify-content: space-between;
    margin-left: 26px;
    margin-right: 25px;
    margin-top: 13px;


}
.total-conf{
    
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    display: flex;
    justify-content: space-between;
    margin-left: 26px;
    margin-right: 25px;
    margin-top: 13px;

}
.podePedir{
    width: 329px;
    height: 52px;
    background: #FFFFFF;
    border-radius: 100px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    margin-top: 24px;
}
.text-botao-conf{
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #50D074;
    margin-left: 37px;
}
.cancelar-conf{
    margin-top: 21px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    padding-bottom: 20px;
    cursor: pointer;
    }
.podePedir {
    cursor: pointer;
}